extends ../../_includes/_layout

block meta
  title kitayamahayate

block content
  .lyric-bar
  .lyric-hero cheap club
  .lyric-wrapper
    .lyric-content.js-lyric-fadein
      .title 歩いて歩いて
      //- .lyric-informations
        //- .item
        //-   .heading 作詞
        //-   .person shungo.
        //- .item
        //-   .heading 作曲
        //-   .person ACCATINO CLAUDIO
      .lyric
        span.js-lyric-scrollin
          | 少しずつ 歩いて 渡る信号
        br
        span.js-lyric-scrollin
          | 遠回り しようか たまには 地図も見ず
        br
        span.js-lyric-scrollin
          | 野良猫と自販機と古い看板
        br
        span.js-lyric-scrollin
          | サビが出る 味が出る ただ見てる
        br
        br
        span.js-lyric-scrollin
          | 夢うつつ どこかも わからない
        br
        span.js-lyric-scrollin
          | まとわりつく 日々と 過去と鬱屈
        br
        span.js-lyric-scrollin
          | 忘れかけてた はずなのに 思い出して
        br
        span.js-lyric-scrollin
          | どこにもない 誰も知らない とこに行こう
        br
        br
        span.js-lyric-scrollin
          | ああ 思いつく 言葉は メモして
        br
        span.js-lyric-scrollin
          | 頭の 片隅に入れて
        br
        span.js-lyric-scrollin
          | ああ マイナスもプラスもあるでしょう
        br
        span.js-lyric-scrollin
          | 明日でも 明後日でも
        br
        br
        span.js-lyric-scrollin
          | 陽が落ちる ゆらめく 陽炎を
        br
        span.js-lyric-scrollin
          | 眺めてる なにも せずに ただボーッと
        br
        span.js-lyric-scrollin
          | 夏の星座 冬の寒さ 感じては
        br
        span.js-lyric-scrollin
          | ここにはない 見たこともない とこに行ける
        br
        br
        span.js-lyric-scrollin
          | ああ 思い出す 昔は 昔で
        br
        span.js-lyric-scrollin
          | 頭の 片隅に置いて
        br
        span.js-lyric-scrollin
          | ああ あの人に会える日はくるでしょう
        br
        span.js-lyric-scrollin
          | 今年でも 来年でも
        br
        br
        span.js-lyric-scrollin
          | 小雨がポツリ ちらついて
        br
        span.js-lyric-scrollin
          | 傘はないから 少し走ろう
        br
        span.js-lyric-scrollin
          | 明日は 何を 食べよう
        br
        br
        span.js-lyric-scrollin
          | ああ 思いつく 言葉は メモして
        br
        span.js-lyric-scrollin
          | 頭の 片隅に入れて
        br
        span.js-lyric-scrollin
          | ああ マイナスもプラスもあるでしょう
        br
        span.js-lyric-scrollin
          | 明日でも 明後日でも
    include ../../_includes/_cheap-sidebar
  .lyric-scrolltop.js-lyric-scrolltop