extends ../../_includes/_layout

block meta
  title kitayamahayate

block content
  .lyric-bar
  .lyric-hero cheap club
  .lyric-wrapper
    .lyric-content.js-lyric-fadein
      .title ぼくら
      //- .lyric-informations
        //- .item
        //-   .heading 作詞
        //-   .person shungo.
        //- .item
        //-   .heading 作曲
        //-   .person ACCATINO CLAUDIO
      .lyric
        span.js-lyric-scrollin
          | ぼくらが知らぬ間に、
        br
        span.js-lyric-scrollin
          | 時は過ぎ去っていくのです。
        br
        span.js-lyric-scrollin
          | それは僕らが、笑ってる時も悩んでる時も。
        br
        br
        span.js-lyric-scrollin
          | ぼくらが子供の頃を思い出してみるんです。
        br
        span.js-lyric-scrollin
          | 新しい世界に踏み込んで、
        br
        span.js-lyric-scrollin
          | たくさんのことを学ぶのです。
        br
        br
        span.js-lyric-scrollin
          | 心の声は掠れていくけど
        br
        span.js-lyric-scrollin
          | たまには聞いてあげてね。
        br
        br
        span.js-lyric-scrollin
          | もし君が悩みに悩んで壊れそうな夜は、
        br
        span.js-lyric-scrollin
          | 時間をかけて考えて
        br
        span.js-lyric-scrollin
          | その分の幸せが来るから
        br
        br
        span.js-lyric-scrollin
          | 心の声は君にしか聞こえない
        br
        span.js-lyric-scrollin
          | だからこそ叫んでみて。
        br
        br
        span.js-lyric-scrollin
          | ぼくらが知らぬ間に、
        br
        span.js-lyric-scrollin
          | 時は過ぎ去っていくのです。
        br
        span.js-lyric-scrollin
          | それは僕らが、笑ってる時も悩んでる時も。
    include ../../_includes/_cheap-sidebar
  .lyric-scrolltop.js-lyric-scrolltop