extends ../../_includes/_layout

block meta
  title kitayamahayate

block content
  .lyric-bar
  .lyric-hero cheap club
  .lyric-wrapper
    .lyric-content.js-lyric-fadein
      .title ちいぷ倶楽部
      //- .lyric-informations
        //- .item
        //-   .heading 作詞
        //-   .person shungo.
        //- .item
        //-   .heading 作曲
        //-   .person ACCATINO CLAUDIO
      .lyric
        span.js-lyric-scrollin
          | ファイルに仕事のあれこれ
        br
        span.js-lyric-scrollin
          | ついでにストレスなど入れ
        br
        span.js-lyric-scrollin
          | いつものカバンに詰めたら
        br
        span.js-lyric-scrollin
          | ぼちぼち向かおうそこへ(どこへ？)
        br
        br
        span.js-lyric-scrollin
          | みんなが集えば歌い出す
        br
        span.js-lyric-scrollin
          | なんてこたないメロディ
        br
        br
        span.js-lyric-scrollin
          | dododo〜…
        br
        span.js-lyric-scrollin
          | ここは楽園 ちいぷ倶楽部
        br
        br
        span.js-lyric-scrollin
          | かわいい姉ちゃんに惚れ惚れ
        br
        span.js-lyric-scrollin
          | 周りの視線は釘付け
        br
        span.js-lyric-scrollin
          | 追加でお酒を頼んで
        br
        span.js-lyric-scrollin
          | 気づけばここもうトイレ(トイレ)
        br
        br
        span.js-lyric-scrollin
          | 上戸でも下戸でも歌い出す
        br
        span.js-lyric-scrollin
          | なんてこたないリズム
        br
        br
        span.js-lyric-scrollin
          | dododo〜…
        br
        span.js-lyric-scrollin
          | ここは楽園 ちいぷ倶楽部
        br
        br
        span.js-lyric-scrollin
          | 扉を開ければ朝焼け
        br
        span.js-lyric-scrollin
          | 歌声も響かぬ酒灼け
        br
        span.js-lyric-scrollin
          | 一服は時代のせいか
        br
        span.js-lyric-scrollin
          | 肩身がせまいぞ分煙(分煙)
        br
        br
        span.js-lyric-scrollin
          | 淡々こなして週末
        br
        span.js-lyric-scrollin
          | また来るんだここに
        br
        br
        span.js-lyric-scrollin
          | dododo〜…
        br
        span.js-lyric-scrollin
          | ここは楽園 ちいぷ倶楽部
        br
        br
        span.js-lyric-scrollin
          | dododo〜…
        br
        span.js-lyric-scrollin
          | ここは楽園 ちいぷ倶楽部
    include ../../_includes/_cheap-sidebar
  .lyric-scrolltop.js-lyric-scrolltop