extends ../../_includes/_layout

block meta
  title kitayamahayate

block content
  .lyric-bar
  .lyric-hero cheap club
  .lyric-wrapper
    .lyric-content.js-lyric-fadein
      .title 火がついた
      //- .lyric-informations
        //- .item
        //-   .heading 作詞
        //-   .person shungo.
        //- .item
        //-   .heading 作曲
        //-   .person ACCATINO CLAUDIO
      .lyric
        span.js-lyric-scrollin
          | 苦虫を噛み潰しても
        br
        span.js-lyric-scrollin
          | 平気な顔して過ごして
        br
        span.js-lyric-scrollin
          | 夜に何かに怯えても
        span.js-lyric-scrollin
          | 眠りについていたよ
        br
        br
        span.js-lyric-scrollin
          | 自転車を漕ぎ 日々を乗り継ぎ
        br
        span.js-lyric-scrollin
          | 波も立たずいたけど、
        br
        span.js-lyric-scrollin
          | ファッション雑誌 ページをめくり
        br
        span.js-lyric-scrollin
          | 妄想していたけど、
        br
        br
        span.js-lyric-scrollin
          | 火がついた火がついた
        br
        span.js-lyric-scrollin
          | 一瞬のスキに
        br
        span.js-lyric-scrollin
          | 火がついた火がついた
        br
        span.js-lyric-scrollin
          | 灰になるまで
        br
        br
        span.js-lyric-scrollin
          | 人波をかき分けずに
        br
        span.js-lyric-scrollin
          | 同じスピードで歩いて
        br
        span.js-lyric-scrollin
          | カーテン越し溢れている
        br
        span.js-lyric-scrollin
          | 光で起きていたよ
        br
        br
        span.js-lyric-scrollin
          | 傘を差し 改札を抜け
        br
        span.js-lyric-scrollin
          | 時間通りだけど
        br
        span.js-lyric-scrollin
          | 少しくらいの 余裕を作って
        br
        span.js-lyric-scrollin
          | 繰り返していたけど
        br
        br
        span.js-lyric-scrollin
          | 火がついた火がついた
        br
        span.js-lyric-scrollin
          | 一瞬のスキに
        br
        span.js-lyric-scrollin
          | 火がついた火がついた
        br
        span.js-lyric-scrollin
          | 灰になるまで
        br
        br
        span.js-lyric-scrollin
          | written&performed:hayate kitayma
    include ../../_includes/_cheap-sidebar
  .lyric-scrolltop.js-lyric-scrolltop