extends ../../_includes/_layout

block meta
  title kitayamahayate

block content
  .lyric-bar
  .lyric-hero cheap club
  .lyric-wrapper
    //- .lyric-content.js-lyric-fadein
    //-   .title U.S.A
    //-   //- .lyric-informations
    //-     //- .item
    //-     //-   .heading 作詞
    //-     //-   .person shungo.
    //-     //- .item
    //-     //-   .heading 作曲
    //-     //-   .person ACCATINO CLAUDIO
    //-   .lyric
    //-     span.js-lyric-scrollin
    //-       | U-U-U.S.A.
    //-     br
    //-     span.js-lyric-scrollin
    //-       | U-U-U.S.A.
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
    //-     br
    //-     span.js-lyric-scrollin
    //-       | U.S.A.
    //-     br
    //-     span.js-lyric-scrollin
    //-       | オールドムービー観たシネマ (シネマ シネマ)
    //-     br
    //-     span.js-lyric-scrollin
    //-       | U.S.A.
    //-     br
    //-     span.js-lyric-scrollin
    //-       | リーゼントヘア真似した (真似した 真似した)
    //-     br
    //-     span.js-lyric-scrollin
    //-       | U.S.A.
    //-     br
    //-     span.js-lyric-scrollin
    //-       | FM 聴いてた渚 (渚 渚)
    //-     br
    //-     span.js-lyric-scrollin
    //-       | U.S.A.
    //-     br
    //-     span.js-lyric-scrollin
    //-       | リズムが衝撃だった (だった だった)
    //-     br
    //-     span.js-lyric-scrollin
    //-       | 数十年でリレーションシップ だいぶ変化したようだ
    //-     br
    //-     span.js-lyric-scrollin
    //-       | だけれど僕らは地球人
    //-     br
    //-     span.js-lyric-scrollin
    //-       | 同じふねの旅人さ
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'mon, baby アメリカ
    //-     br
    //-     span.js-lyric-scrollin
    //-       | ドリームの見方を inspired
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'mon, baby アメリカ
    //-     br
    //-     span.js-lyric-scrollin
    //-       | 交差するルーツ タイムズスクエア
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'mon, baby アメリカ
    //-     br
    //-     span.js-lyric-scrollin
    //-       | 憧れてたティーンネイジャーが
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'mon, baby アメリカ
    //-     br
    //-     span.js-lyric-scrollin
    //-       | 競合してく ジパングで
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
    //-     br
    //-     span.js-lyric-scrollin
    //-       | U.S.A.
    //-     br
    //-     span.js-lyric-scrollin
    //-       | ツイスト踊ったフロア (フロア フロア)
    //-     br
    //-     span.js-lyric-scrollin
    //-       | U.S.A.
    //-     br
    //-     span.js-lyric-scrollin
    //-       | ミラーボールに恋した (恋した 恋した)
    //-     br
    //-     span.js-lyric-scrollin
    //-       | U.S.A.
    //-     br
    //-     span.js-lyric-scrollin
    //-       | 仲間の中古のオープンカー (オープンカー オープンカー)
    //-     br
    //-     span.js-lyric-scrollin
    //-       | U.S.A.
    //-     br
    //-     span.js-lyric-scrollin
    //-       | あのこは髪なびかせた (かせた かせた)
    //-     br
    //-     span.js-lyric-scrollin
    //-       | パシフィック・オーシャン 一飛び
    //-     br
    //-     span.js-lyric-scrollin
    //-       | ハートはいつもファーストクラス
    //-     br
    //-     span.js-lyric-scrollin
    //-       | 夢というグラス交わし
    //-     br
    //-     span.js-lyric-scrollin
    //-       | Love and peace 誓うのさ
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'mon, baby アメリカ
    //-     br
    //-     span.js-lyric-scrollin
    //-       | サクセスの味方 organizer
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'mon, baby アメリカ
    //-     br
    //-     span.js-lyric-scrollin
    //-       | ニューウェーブ寄せる ウェストコースト
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'mon, baby アメリカ
    //-     br
    //-     span.js-lyric-scrollin
    //-       | どっちかの夜は昼間
    //-     br
    //-     span.js-lyric-scrollin
    //-       |C'mon, baby アメリカ
    //-     br
    //-     span.js-lyric-scrollin
    //-       | ユナイテッドする 朝焼け
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'mon, baby アメリカ
    //-     br
    //-     span.js-lyric-scrollin
    //-       | ドリームの見方を inspired
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'mon, baby アメリカ
    //-     br
    //-     span.js-lyric-scrollin
    //-       | 交差するルーツ タイムズスクエア
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'mon, baby アメリカ
    //-     br
    //-     span.js-lyric-scrollin
    //-       | 憧れてたティーンネイジャーが
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'mon, baby アメリカ
    //-     br
    //-     span.js-lyric-scrollin
    //-       | 競合してく ジパングで
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
    //-     br
    //-     span.js-lyric-scrollin
    //-       | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
    include ../../_includes/_cheap-sidebar
  .lyric-scrolltop.js-lyric-scrolltop