extends ../../_includes/_layout

block meta
  title kitayamahayate

block content
  .lyric-bar
  .lyric-hero cheap club
  .lyric-wrapper
    .lyric-content.js-lyric-fadein
      .title sunny beat
      //- .lyric-informations
        //- .item
        //-   .heading 作詞
        //-   .person shungo.
        //- .item
        //-   .heading 作曲
        //-   .person ACCATINO CLAUDIO
      .lyric
        span.js-lyric-scrollin
          | 午前から続く暑さは
        br
        span.js-lyric-scrollin
          | 14時過ぎがピークだそうだ
        br
        span.js-lyric-scrollin
          | 波の上漂う僕は
        br
        span.js-lyric-scrollin
          | ただの陽炎と化している！
        br
        br
        span.js-lyric-scrollin
          | 太陽と雨と 日々オルタネイト
        br
        span.js-lyric-scrollin
          | 「ヘヘヘイ！おいで遊ぼう！！」
        br
        br
        span.js-lyric-scrollin
          | 昨日から続く暑さも
        br
        span.js-lyric-scrollin
          | 明日には雨に変わるそうな
        br
        span.js-lyric-scrollin
          | よく見ればあっちの空は
        br
        span.js-lyric-scrollin
          | 暗い雨雲がかかっている
        br
        br
        span.js-lyric-scrollin
          | 洗濯物を取り込まねぇと
        br
        span.js-lyric-scrollin
          | 付けっ放し26度の冷房
        br
        br
        span.js-lyric-scrollin
          | あと何回 あと何回 僕らはフザけられるだろう
        br
        span.js-lyric-scrollin
          | 後ろ髪も引かれずに
        br
        span.js-lyric-scrollin
          | もう一回 もう一回 終わりが来るまでずっと
        br
        span.js-lyric-scrollin
          | 夜の灯りが眠りに落ちて
        br
        span.js-lyric-scrollin
          | 明日の日が昇っても
        br
        br
        span.js-lyric-scrollin
          | Tシャツは染み込んだ汗で
        br
        span.js-lyric-scrollin
          | グレーから黒に変わりそうだ
        br
        span.js-lyric-scrollin
          | ビーチサンダルも壊れて
        br
        span.js-lyric-scrollin
          | 黒いアスファルトの上裸足でいる！
        br
        br
        span.js-lyric-scrollin
          | 空が赤と青のグラデーション
        br
        span.js-lyric-scrollin
          | 子供の頃も見たな
        br
        span.js-lyric-scrollin
          | チャイム鳴るよ帰ろう
        br
        br
        span.js-lyric-scrollin
          | あと何回 もう一回
        br
        span.js-lyric-scrollin
          | 終わりが来るまでずっと
        br
        span.js-lyric-scrollin
          | 後ろ髪も引かれずに
        br
        br
        span.js-lyric-scrollin
          | あと何回 あと何回 僕らはフザけられるだろう
        br
        span.js-lyric-scrollin
          | 後ろ髪も引かれずに
        br
        span.js-lyric-scrollin
          | もう一回 もう一回 終わりが来るまでずっと
        br
        span.js-lyric-scrollin
          | 夜の灯りが眠りに落ちて
        br
        span.js-lyric-scrollin
          | 明日の日が昇っても
        //- br
        //- span.js-lyric-scrollin
        //-   | パシフィック・オーシャン 一飛び
        //- br
        //- span.js-lyric-scrollin
        //-   | ハートはいつもファーストクラス
        //- br
        //- span.js-lyric-scrollin
        //-   | 夢というグラス交わし
        //- br
        //- span.js-lyric-scrollin
        //-   | Love and peace 誓うのさ
        //- br
        //- span.js-lyric-scrollin
        //-   | C'mon, baby アメリカ
        //- br
        //- span.js-lyric-scrollin
        //-   | サクセスの味方 organizer
        //- br
        //- span.js-lyric-scrollin
        //-   | C'mon, baby アメリカ
        //- br
        //- span.js-lyric-scrollin
        //-   | ニューウェーブ寄せる ウェストコースト
        //- br
        //- span.js-lyric-scrollin
        //-   | C'mon, baby アメリカ
        //- br
        //- span.js-lyric-scrollin
        //-   | どっちかの夜は昼間
        //- br
        //- span.js-lyric-scrollin
        //-   |C'mon, baby アメリカ
        //- br
        //- span.js-lyric-scrollin
        //-   | ユナイテッドする 朝焼け
        //- br
        //- span.js-lyric-scrollin
        //-   | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
        //- br
        //- span.js-lyric-scrollin
        //-   | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
        //- br
        //- span.js-lyric-scrollin
        //-   | C'mon, baby アメリカ
        //- br
        //- span.js-lyric-scrollin
        //-   | ドリームの見方を inspired
        //- br
        //- span.js-lyric-scrollin
        //-   | C'mon, baby アメリカ
        //- br
        //- span.js-lyric-scrollin
        //-   | 交差するルーツ タイムズスクエア
        //- br
        //- span.js-lyric-scrollin
        //-   | C'mon, baby アメリカ
        //- br
        //- span.js-lyric-scrollin
        //-   | 憧れてたティーンネイジャーが
        //- br
        //- span.js-lyric-scrollin
        //-   | C'mon, baby アメリカ
        //- br
        //- span.js-lyric-scrollin
        //-   | 競合してく ジパングで
        //- br
        //- span.js-lyric-scrollin
        //-   | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
        //- br
        //- span.js-lyric-scrollin
        //-   | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
    include ../../_includes/_cheap-sidebar
  .lyric-scrolltop.js-lyric-scrolltop