.lyric-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 100px 100px 0;
}

.lyric-content {
  background-color: rgba(255, 255, 255, .9);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  margin-right: 40px;
  padding: 40px 20px;
  position: relative;
  width: 80%;

  > .title {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  > .lyric {
    font-size: 1.4rem;
    line-height: 2.8;
  }
}

.lyric-informations {
  font-size: 1.4rem;
  margin-bottom: 72px;

  > .item {
    display: flex;

    &:first-child {
      margin-bottom: 8px;
    }
  }

  > .item > .heading {
    margin-right: 18px;
  }
}

.lyric-side {
  align-self: flex-start;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  font-size: 1.4rem;
  padding: 40px 30px;
  position: sticky;
  top: 0;
  width: 240px;

  > .image {
    margin-bottom: 32px;
    width: 180px;
  }

  > .title {
    font-size: 1.8rem;
    margin-bottom: 12px;
  }

  > .release {
    margin-bottom: 24px;
  }

  > .links {
    margin-bottom: 28px;
  }

  > .links > .item {
    &:first-child {
      margin-bottom: 12px;
    }
  }

  > .musics > .item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

canvas {
  position: fixed;
  top: 0;
  z-index: -100;
}