.lyric-side.js-lyric-fadein
      img.image(src="/images/cheap-club.jpg", alt="")
      .lyric-textarea
        .title cheap club
        .release 発売日: 2018/10/24
        ul.links
          //- li.item
          //-   a.link(href="") YouTubeで聴く
          li.item
            a.link(target="_blank" href="https://itunes.apple.com/jp/album/cheap-club-ep/1439858502") iTunesで入手する
      ul.lyric-musics
        li.item
          a.link(href="./sunny-beat.html") sunny beat
        li.item
          a.link(href="./aruite.html") 歩いて歩いて
        li.item
          a.link(href="./bokura.html") ぼくら
        li.item
          a.link(href="./higatsuita.html") 火がついた
        li.item
          a.link(href="./cheap.html") ちいぷ倶楽部
        //- li.item
        //-   a.link(href="#") 曲名
        //- li.item
        //-   a.link(href="#") 曲名
        //- li.item
        //-   a.link(href="#") 曲名