script(src="//code.jquery.com/jquery-3.3.1.min.js")
script(src="./scripts/libs/noise.min.js")
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.min.js"></script>
script(src="./scripts/index.min.js")