extends _includes/_layout

block meta
  title kitayama

block content
  canvas
  .lyric-hero
    h1.heading cheap club
  .lyric-content
    .title U.S.A
    .lyric-informations
      .item
        .heading 作詞
        .person shungo.
      .item
        .heading 作曲
        .person ACCATINO CLAUDIO・CIRELLI DONATELLA・GIOCO ANNA MARIA
    .lyric
      | U-U-U.S.A.
      br
      | U-U-U.S.A.
      br
      | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
      br
      | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
      br
      | U.S.A.
      br
      | オールドムービー観たシネマ (シネマ シネマ)
      br
      | U.S.A.
      br
      | リーゼントヘア真似した (真似した 真似した)
      br
      | U.S.A.
      br
      | FM 聴いてた渚 (渚 渚)
      br
      | U.S.A.
      br
      | リズムが衝撃だった (だった だった)
      br
      | 数十年でリレーションシップ だいぶ変化したようだ
      br
      | だけれど僕らは地球人
      br
      | 同じふねの旅人さ
      br
      | C'mon, baby アメリカ
      br
      | ドリームの見方を inspired
      br
      | C'mon, baby アメリカ
      br
      | 交差するルーツ タイムズスクエア
      br
      | C'mon, baby アメリカ
      br
      | 憧れてたティーンネイジャーが
      br
      | C'mon, baby アメリカ
      br
      | 競合してく ジパングで
      br
      | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
      br
      | U.S.A.
      br
      | ツイスト踊ったフロア (フロア フロア)
      br
      | U.S.A.
      br
      | ミラーボールに恋した (恋した 恋した)
      br
      | U.S.A.
      br
      | 仲間の中古のオープンカー (オープンカー オープンカー)
      br
      | U.S.A.
      br
      | あのこは髪なびかせた (かせた かせた)
      br
      | パシフィック・オーシャン 一飛び
      br
      | ハートはいつもファーストクラス
      br
      | 夢というグラス交わし
      br
      | Love and peace 誓うのさ
      br
      | C'mon, baby アメリカ
      br
      | サクセスの味方 organizer
      br
      | C'mon, baby アメリカ
      br
      | ニューウェーブ寄せる ウェストコースト
      br
      | C'mon, baby アメリカ
      br
      | どっちかの夜は昼間
      br
      | C'mon, baby アメリカ
      br
      | ユナイテッドする 朝焼け
      br
      | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
      br
      | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
      br
      | C'mon, baby アメリカ
      br
      | ドリームの見方を inspired
      br
      | C'mon, baby アメリカ
      br
      | 交差するルーツ タイムズスクエア
      br
      | C'mon, baby アメリカ
      br
      | 憧れてたティーンネイジャーが
      br
      | C'mon, baby アメリカ
      br
      | 競合してく ジパングで
      br
      | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
      br
      | C'-C'-C'-C'-C'-C'-C'-C'mon, baby
      br