extends ../../_includes/_layout

block meta
  title kitayamahayate

block content
  .lyric-bar
  .lyric-hero deep club
  .lyric-wrapper
    .lyric-content.js-lyric-fadein
      .title adult
      .lyric
        span.js-lyric-scrollin
          | めくられたカレンダー 日付はそろそろ
        br
        span.js-lyric-scrollin
          | あの日が来れば わたしはもう
        br
        span.js-lyric-scrollin
          | 恥ずかしさも忘れた 子供のよう
        br
        span.js-lyric-scrollin
          | 欲望が渦巻いた 心模様
        br
        br
        span.js-lyric-scrollin
          | It is a fall in love もはや恋だろう
        br
        span.js-lyric-scrollin
          | 愛し愛された日々がよぎる
        br
        span.js-lyric-scrollin
          | あなたに惹かれたそれだけなのに
        br
        span.js-lyric-scrollin
          | 自分が悪いんだと思ってしまう
        br
        br
        span.js-lyric-scrollin
          | 心潤して ひたすら汗をかいたら
        br
        span.js-lyric-scrollin
          | きっと そこは 天国だね
        br
        br
        span.js-lyric-scrollin
          | 知らぬ間に忘れた 現実を
        br
        span.js-lyric-scrollin
          | 今日はこのまま 持ち帰れない
        br
        span.js-lyric-scrollin
          | 時間が来れば 終わりさもう
        br
        span.js-lyric-scrollin
          | ハートに火がつけば 始まり
        br
        br
        span.js-lyric-scrollin
          | 心そのままにして
        br
        span.js-lyric-scrollin
          | いつもの日常に 戻ったふりして
        br
        br
        span.js-lyric-scrollin
          | このままなんて いいわけない
        br
        span.js-lyric-scrollin
          | めくられたカレンダー もどせない
        br
        br
        span.js-lyric-scrollin
          | 好きな話をして
        br
        span.js-lyric-scrollin
          | ずっとこのままでいよう
        br
        span.js-lyric-scrollin
          | きっと ずっと つれていって
        br
        br
        span.js-lyric-scrollin
          | songs written&performed:hayate kitayama
    include ../../_includes/_deep-sidebar
  .lyric-scrolltop.js-lyric-scrolltop