extends ../../_includes/_layout

block meta
  title kitayamahayate

block content
  .lyric-bar
  .lyric-hero deep club
  .lyric-wrapper
    .lyric-content.js-lyric-fadein
      .title cold morning
      .lyric
        span.js-lyric-scrollin
          | 清々しい空気 吸わせてよ神様
        br
        span.js-lyric-scrollin
          | 昨日の香りが 少し残るから
        br
        br
        span.js-lyric-scrollin
          | マフラーを口に 当ててしのぐ
        br
        span.js-lyric-scrollin
          | 指先はもう 袖口の中
        br
        span.js-lyric-scrollin
          | 始発を待つ プラットホームで
        br
        span.js-lyric-scrollin
          | 白い吐息 空に舞い上がれ
        br
        br
        span.js-lyric-scrollin
          | 冷たい風に 乗せてよ神様
        br
        span.js-lyric-scrollin
          | 昨日の悲しみ 少し残るから
        br
        span.js-lyric-scrollin
          | コートのポケット の中には
        br
        span.js-lyric-scrollin
          | ソフトのタバコ とカイロ
        br
        span.js-lyric-scrollin
          | 発車のベルが いつもより
        br
        span.js-lyric-scrollin
          | ひときわ大きく 聞こえてくる
        br
        br
        span.js-lyric-scrollin
          | 清々しい空気 吸わせてよ神様
        br
        span.js-lyric-scrollin
          | 昨日の香りが 少し残るから
        br
        br
        span.js-lyric-scrollin
          | songs written&performed:hayate kitayama
    include ../../_includes/_deep-sidebar
  .lyric-scrolltop.js-lyric-scrolltop