extends ../../_includes/_layout

block meta
  title kitayamahayate

block content
  .lyric-bar
  .lyric-hero deep club
  .lyric-wrapper
    .lyric-content.js-lyric-fadein
      .title diary
      .lyric
        span.js-lyric-scrollin
          | 着慣れたTシャツ
        br
        span.js-lyric-scrollin
          | 夏には浴衣でも
        br
        span.js-lyric-scrollin
          | 薄化粧もブリーチも
        br
        span.js-lyric-scrollin
          | 君だもん 揺るぎない
        br
        br
        span.js-lyric-scrollin
          | 色なき風を
        br
        span.js-lyric-scrollin
          | しのぐパーカーでも
        br
        span.js-lyric-scrollin
          | ワンアクセのサングラスも
        br
        span.js-lyric-scrollin
          | 好きなもん 変わりない
        br
        br
        span.js-lyric-scrollin
          | 眺めれば声だって聞こえてくる
        br
        span.js-lyric-scrollin
          | 本棚の上にある小さなアルバム
        br
        br
        span.js-lyric-scrollin
          | いつものアレを言ってよ
        br
        span.js-lyric-scrollin
          | ダジャレがかったくだらない
        br
        span.js-lyric-scrollin
          | 僕にしか言わないやつだよ
        br
        span.js-lyric-scrollin
          | 毎日 聞いてたい
        br
        br
        span.js-lyric-scrollin
          | ふと時計を見れば時間が経ってる
        br
        span.js-lyric-scrollin
          | 休みの日にふと開く小さなアルバム
        br
        br
        span.js-lyric-scrollin
          | フォルダには入ってない
        br
        span.js-lyric-scrollin
          | どこにだってあげてない
        br
        span.js-lyric-scrollin
          | 加工だってしてないし そのまま
        br
        span.js-lyric-scrollin
          | このページをめくれば
        br
        span.js-lyric-scrollin
          | 終わるのを知ってる、何回も
        br
        span.js-lyric-scrollin
          | 君は羽ばたいてるだろう 今日も どこかで
        br
        br
        span.js-lyric-scrollin
          | 次はどこにする？
        br
        span.js-lyric-scrollin
          | 遠くでも 近くでも
        span.js-lyric-scrollin
          | 新しいアルバムを
        br
        span.js-lyric-scrollin
          | 作って おくから
        br
        br
        span.js-lyric-scrollin
          | songs written&performed:hayate kitayama
    include ../../_includes/_deep-sidebar
  .lyric-scrolltop.js-lyric-scrolltop