extends ../../_includes/_layout

block meta
  title kitayamahayate

block content
  .lyric-bar
  .lyric-hero deep club
  .lyric-wrapper
    .lyric-content.js-lyric-fadein
      .title ドラマのような
      .lyric
        span.js-lyric-scrollin
          | まるでドラマのような
        br
        span.js-lyric-scrollin
          | 画面の向こうみたいな
        br
        span.js-lyric-scrollin
          | 恋をして 愛し合って
        br
        span.js-lyric-scrollin
          | ハッピーエンドはどこだ
        br
        br
        span.js-lyric-scrollin
          | 誰かが書いたセリフみたいな言葉も
        br
        span.js-lyric-scrollin
          | たまにはね
        br
        span.js-lyric-scrollin
          | カーディガン肩にかけたようなアクション
        br
        span.js-lyric-scrollin
          | こたまにはね
        br
        br
        span.js-lyric-scrollin
          | 知性のないような アソビはもういいや
        br
        span.js-lyric-scrollin
          | 心盗まれたい
        br
        br
        span.js-lyric-scrollin
          | まるでドラマのような
        br
        span.js-lyric-scrollin
          | 映画化しちゃうような
        br
        span.js-lyric-scrollin
          | 認めあって 確かめあって
        br
        span.js-lyric-scrollin
          | バッドエンドも良いな
        br
        br
        span.js-lyric-scrollin
          | しまっていたものが 溢れだしたら
        br
        span.js-lyric-scrollin
          | 手招きされるように扉開ける
        br
        br
        span.js-lyric-scrollin
          | まるでドラマのような
        br
        span.js-lyric-scrollin
          | 画面の向こうみたいな
        span.js-lyric-scrollin
          | 恋をして 愛し合って
        br
        span.js-lyric-scrollin
          | ハッピーエンドはどこだ
        br
        br
        span.js-lyric-scrollin
          | songs written&performed:hayate kitayama
    include ../../_includes/_deep-sidebar
  .lyric-scrolltop.js-lyric-scrolltop