extends ../../_includes/_layout

block meta
  title kitayamahayate

block content
  .lyric-bar
  .lyric-hero deep club
  .lyric-wrapper
    .lyric-content.js-lyric-fadein
      .title fashion
      .lyric
        span.js-lyric-scrollin
          | 燻らす煙はシガレット it is ただのファッション
        br
        span.js-lyric-scrollin
          | 三半規管を刺激して カモナパーカッション
        br
        br
        span.js-lyric-scrollin
          | 普段はなにしてるの なんて忘れて
        br
        span.js-lyric-scrollin
          | 油断は禁物です たまに倒れそうになる
        br
        br
        span.js-lyric-scrollin
          | 揺れている たかが音楽とされど娯楽で
        br
        span.js-lyric-scrollin
          | 触れている 許しておくれよ苦しまぎれのダンス
        br
        br
        span.js-lyric-scrollin
          | 高ぶる気持ちは何処からともなく湧くパッション
        br
        span.js-lyric-scrollin
          | このナンバーを聴いてくれエブリワンアテンション
        br
        br
        span.js-lyric-scrollin
          | 無断でなにしてるの 罪悪感で
        br
        span.js-lyric-scrollin
          | 主観的なライフも ゲージは半分
        br
        br
        span.js-lyric-scrollin
          | 暮れている 太陽も少し蔑んでいる
        br
        span.js-lyric-scrollin
          | 忘れている 手に負えないくらいまでに行かないように
        br
        br
        span.js-lyric-scrollin
          | 揺れている たかが音楽とされど娯楽で
        br
        span.js-lyric-scrollin
          | 触れている 許しておくれよ苦しまぎれのダンス
        br
        br
        span.js-lyric-scrollin
          | songs written&performed:hayate kitayama
    include ../../_includes/_deep-sidebar
  .lyric-scrolltop.js-lyric-scrolltop