extends ../../_includes/_layout

block meta
  title kitayamahayate

block content
  .lyric-bar
  .lyric-hero deep club
  .lyric-wrapper
    include ../../_includes/_deep-sidebar
  .lyric-scrolltop.js-lyric-scrolltop